<!-- navbar -->

<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
        <i class="fa-solid fa-utensils fa-2xl" style="color: #f4aa0b;"></i>
      <a id="h1" class="navbar-brand ms-4" href="">RESTORAN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-light" href="/#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/#service">SERVICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/#h2">MENU</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MORE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/#res">Booking</a></li>
              <li><a class="dropdown-item" href="/#team">Our Team</a></li>
              <li><a class="dropdown-item" href="/#test">Testimonial</a></li>
              <li><a class="dropdown-item" routerLink="adminlogin">Admin Login</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning ms-2" aria-current="page" routerLink="/cart">
              <i class="fa-solid fa-cart-plus text-light"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning ms-3" aria-current="page" href="/#res">
              BOOK A TABLE
            </a>
          </li>
        </ul>
          <!-- <button class="btn btn-warning" type="submit"><a href="/#res">BOOK A TABLE</a></button> -->
        </div>
    </div>
  </nav>
  <!-- header -->
<div>
  <img class="bg" src="https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp" alt="">
  <div class="row">
    <div class="col-7  align-items-center">
      <h1 id="title" class="title text-light w-10 mb-5 mt-5">Enjoy Our Delecious Meal</h1>
      <p class="text-light">Located in the heart of East Austin, Suerte is an award-winning restaurant driven by a passion for masa, an ingredient at the heart of Mexican cooking. Chef Fermin and his team curate a seasonally driven menu with an emphasis on bringing together traditional Mexican cooking techniques with local Texas ingredients to create a unique and exciting dining experience. 

        Our bar offers some of Mexico's most unique agave and succulent spirits state-side, as well as highlighting a rotating selection of natural wines and craft cocktails.</p>
    </div>
    <div class="col-5">
      <img height="450px" width="450px" class="rotate" src="https://goroundrock.com/wp-content/uploads/2023/01/image.png" alt="">
    </div>
     <!-- book a table button -->
     <button id="btn" class="btn btn-warning" type="submit">BOOK A TABLE</button>
  </div>
</div>