#h1{
    color: orange;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.reservation{
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
p{
    justify-content:left;
    align-items:end;
}
section{
    padding: 0%;
    margin: 0;
}
.icon{
    margin-left: 730px;
    margin-top: 70px;
    size: 30px;
}
.dwnload{
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: 30px;
}