<div #componentView>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <i class="fa-solid fa-utensils fa-2xl" style="color: #f4aa0b;"></i>
      <a id="h1" class="navbar-brand ms-4" href="">RESTORAN</a> 
         <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      </div>
    </div>
  </nav>

  <!-- Reservation Details -->
  <div class="icon">
    <i class="fa-solid fa-circle-check fa-beat-fade fa-2xl" style="color: #40f00f;"></i>
  </div>

  <section>
    <div class="reservation text-center border p-3">
        <h3 class="text-primary text-center mt-5">Reservation Details</h3>
        <p>Name :  {{reservationArray.name}}</p>
        <p>Mobile No:{{reservationArray.phone}}</p>
        <p>Reserved Date : {{reservationArray.date}}</p>
        <p>No. of Persons: {{reservationArray.peoples}}</p>
    </div>
  </section>
</div>
<div class="dwnload">
  <button class="btn btn-warning" (click)="exportPdf()">Download<i class="fa-solid fa-download fa-beat fa-lg" style="color: #16749c;"></i></button>
</div>